[
  {
    "name": "Test",
    "files": ["test.c", "divide10.c"],   // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "machdep": "gcc_x86_64",  // This library requires a 64-bit GCC or similar C compiler
    "main": "main"              // Specify the entry point function for the test (optional, default is "main")
  }
]